.button {
  margin-top: 5%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(118, 101, 145);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: #0056b3;
}
